<% content_for :sidebar do%>
    <%= render :partial => 'department_sidebar'%>
<% end %>

<%@list.each do |obj|%>
<p>
  <a href="/admin/company/department?id=<%=obj.id%>"><%=obj.name%></a>
  <a href="/admin/company/department_delete?id=<%=obj.id%>" onclick="return confirm_delete()">删除</a>
</p>
<%end%>

<%= render :partial => 'common/pager', :locals => {:paginate_list => @list}%>
