<form action="/admin/system/deal" method="post">
  <p>
    楼盘名称：<%=@obj.estate.name%>
  </p>
  <p>
    经纪人姓名：<%=@obj.customer.created_by.name%>
  </p>
  <p>
    客户姓名：<%=@obj.customer.name%>
  </p>
  <p>
    客户联系方式：<%=@obj.customer.contact%>
  </p>
  <p>
    佣金金额：<%=@obj.yongjin_price%>
  </p>
  <input type="hidden" name="yongjin_status" value="<%=Deal::YongjinStatus::CONFIRM%>"/>
  <input type="hidden" name="step" value="yongjin_confirm"/>
  <input type="hidden" name="id" value="<%=@obj.id%>"/>
  <%= token_tag %>
  <input type="submit" value="提交" />
  <a href="javascript:void(0)" onclick="history.back()">返回</a>
</form>
