  <p>
    楼盘编号：<input type="text" name="estate_id" value="<%=@obj.estate_id%>"/>
    <%=if_has_error(@errors, :estate_id)%>
  </p>
  <p>
    客户编号：<input type="text" name="customer_id" value="<%=@obj.customer_id%>"/>
    <%=if_has_error(@errors, :customer_id)%>
  </p>
  <p>
    报备状态：
    <select name="bb_status">
        <%=status_options(@obj.bb_status, [
                {:k => Deal::BaobeiStatus::UNDO, :v => '界定中'},
                {:k => Deal::BaobeiStatus::SUCC, :v => '界定有效'},
                {:k => Deal::BaobeiStatus::FAIL, :v => '界定无效'},
        ])%>
    </select>
  </p>
  <p>
    报备时间：<input type="text" name="bb_at" value="<%=date(@obj.bb_at)%>"/>
  </p>
  <p>
    带看状态：
    <select name="daikan_status">
      <%=status_options(@obj.daikan_status, [
        {:k => Deal::DaikanStatus::UNDO, :v => '未带看'},
        {:k => Deal::DaikanStatus::CONFIRM, :v => '带看确认'},
        {:k => Deal::DaikanStatus::SUCC, :v => '带看确认完成'},
        {:k => Deal::DaikanStatus::APPLY, :v => '带看奖励申请'},
        {:k => Deal::DaikanStatus::APPLY_CONFIRM, :v => '带看奖励申请确认'},
      ])%>
    </select>
  </p>
  <p>
    是否带看：<%=@obj.estate_info.if_daikan ? '是' : '否'%>
  </p>
  <p>
    带看有效时间：<input type="text" name="daikan_ddl" value="<%=time(@obj.daikan_ddl)%>"/>
  </p>
  <p>
    是否有带看奖：<%=@obj.estate_info.if_daikan_reward ? '是' : '否'%>
  </p>
  <p>
    带看奖说明：<%=@obj.estate_info.daikan_reward_info%>
  </p>
  <p>
    认筹状态：
    <select name="renchou_status">
      <%=status_options(@obj.renchou_status, [
              {:k => Deal::RenchouStatus::UNDO, :v => '未认筹'},
              {:k => Deal::RenchouStatus::APPLY, :v => '认筹申请中'},
              {:k => Deal::RenchouStatus::CONFIRM, :v => '认筹确认'},
              {:k => Deal::RenchouStatus::BACK_CONFIRM, :v => '认筹退款确认'},
              {:k => Deal::RenchouStatus::BACK_DONE, :v => '认筹退款完成'},
      ])%>
    </select>
  </p>
  <p>
    认筹号码：<input type="text" name="renchou_no" value="<%=@obj.renchou_no%>"/>
  </p>
  <p>
    认筹金额：<input type="text" name="renchou_price" value="<%=@obj.renchou_price%>"/>
  </p>
  <p>
    成交状态：
    <select name="deal_status">
      <%=status_options(@obj.deal_status, [
               {:k => Deal::DealStatus::UNDO, :v => '未成交'},
               {:k => Deal::DealStatus::APPLY, :v => '成交申请中'},
               {:k => Deal::DealStatus::CONFIRM, :v => '成交确认'},
       ])%>
    </select>
  </p>
  <p>
    成交金额：<input type="text" name="deal_price" value="<%=@obj.deal_price%>"/>
  </p>
  <p>
    佣金金额：<input type="text" name="yongjin_price" value="<%=@obj.yongjin_price%>"/>
  </p>


  <input type="hidden" name="id" value="<%=@obj.id%>"/>
  <%= token_tag %>
  <input type="submit" value="提交" />

<script type="text/javascript">
function check_form(form){
    var msg;
    var estate_id = form_field_value(form, 'estate_id');
    if((msg = form_check_string(estate_id))){alert('楼盘号' + msg);return false;}
    var customer_id = form_field_value(form, 'customer_id');
    if((msg = form_check_string(customer_id))){alert('客户号' + msg);return false;}
    return true;
}
</script>