  <p>
    楼盘编号：<input type="text" name="estate_id" value="<%=@obj.estate_id%>"/>
    <%=if_has_error(@errors, :estate_id)%>
  </p>
  <p>
    客户编号：<input type="text" name="customer_id" value="<%=@obj.customer_id%>"/>
    <%=if_has_error(@errors, :customer_id)%>
  </p>
  <p>
    报备状态：
    <select name="bb_status">
      <option value="0" <%=if_selected(@obj.bb_status, 0)%>>界定中</option>
      <option value="1" <%=if_selected(@obj.bb_status, 1)%>>界定有效</option>
      <option value="2" <%=if_selected(@obj.bb_status, 2)%>>界定无效</option>
    </select>
  </p>
  <p>
    报备时间：<input type="text" name="bb_at" value="<%=date(@obj.bb_at)%>"/>
  </p>
  <p>
    带看状态：
    <select name="daikan_status">
      <option value="0" <%=if_selected(@obj.daikan_status, 0)%>>未带看</option>
      <option value="1" <%=if_selected(@obj.daikan_status, 1)%>>带看确认</option>
      <option value="2" <%=if_selected(@obj.daikan_status, 2)%>>带看完成</option>
    </select>
  </p>
  <p>
    带看奖励：<input type="checkbox" name="daikan_jl" value="1" <%=if_checked(@obj.daikan_jl)%>/>
  </p>
  <p>
    带看奖励结算：<input type="checkbox" name="daikan_jljs" value="1" <%=if_checked(@obj.daikan_jljs)%>/>
  </p>
  <p>
    带看备注：<textarea name="daikan_info" rows="5" cols="50"><%=@obj.daikan_info%></textarea>
  </p>
  <p>
    带看有效时间：<input type="text" name="daikan_ddl" value="<%=@obj.daikan_ddl%>"/>
  </p>
  <p>
    认筹状态：
    <select name="renchou_status">
      <option value="0" <%=if_selected(@obj.renchou_status, 0)%>>未认筹</option>
      <option value="1" <%=if_selected(@obj.renchou_status, 1)%>>认筹确认</option>
      <option value="2" <%=if_selected(@obj.renchou_status, 2)%>>认筹完成</option>
      <option value="3" <%=if_selected(@obj.renchou_status, 3)%>>认筹退款确认</option>
      <option value="4" <%=if_selected(@obj.renchou_status, 4)%>>认筹退款完成</option>
    </select>
  </p>
  <p>
    认筹号码：<input type="text" name="renchou_no" value="<%=@obj.renchou_no%>"/>
  </p>
  <p>
    认筹金额：<input type="text" name="renchou_price" value="<%=@obj.renchou_price%>"/>
  </p>
  <p>
    成交状态：
    <select name="deal_status">
      <option value="0" <%=if_selected(@obj.deal_status, 0)%>>未成交</option>
      <option value="1" <%=if_selected(@obj.deal_status, 1)%>>成交确认</option>
      <option value="2" <%=if_selected(@obj.deal_status, 2)%>>成交完成</option>
    </select>
  </p>
  <p>
    成交金额：<input type="text" name="deal_price" value="<%=@obj.deal_price%>"/>
  </p>
  <p>
    佣金结算：<input type="checkbox" name="if_yongjin" value="1" <%=if_checked(@obj.if_yongjin)%>/>
  </p>
  <p>
    佣金金额：<input type="text" name="yongjin_price" value="<%=@obj.yongjin_price%>"/>
  </p>


  <input type="hidden" name="id" value="<%=@obj.id%>"/>
  <%= token_tag %>
  <input type="submit" value="提交" />

<script type="text/javascript">
function check_form(form){
    var msg;
    var estate_id = form_field_value(form, 'estate_id');
    if((msg = form_check_string(estate_id))){alert('楼盘号' + msg);return false;}
    var customer_id = form_field_value(form, 'customer_id');
    if((msg = form_check_string(customer_id))){alert('客户号' + msg);return false;}
    return true;
}
</script>