  <input type="hidden" name="id" <%=if_value(@obj, :id) %>/>
  <input type="hidden" name="company_id" value="<%=@company.id%>"/>
  <p><input type="text" name="name" value="<%=@obj.name%>"/></p>

  <p>
    <select name="parent_id">
      <option value="">无上级部门</option>
      <%@list.each do |z|%>
      <option value="<%=z.id%>" <%=if_selected(@obj.parent_id, z.id)%>
        <%=if_display_none(@obj.id == z.id)%>><%=z.name%></option>
      <%end%>
    </select>
    <%=if_has_error(@errors, :parent_id)%>
  </p>

  <p>
    简介：<textarea name="info" rows="5" cols="50"><%=@obj.info%></textarea>
  </p>
  <p>
    负责人：<input type="text" name="charge" value="<%=@obj.charge%>"/>
  </p>


  <%= token_tag %>
  <input type="submit" value="提交" />

<script type="text/javascript">
    function check_form(form){
        var msg;
        var name = form_field_value(form, 'name');
        if((msg = form_check_string(name))){alert('名称' + msg);return false;}
        return true;
    }
</script>