<form action="/public/apply_company" method="post" onsubmit="return check_form(this)">
  <p>
    名称：<input type="text" name="name" value="<%=@obj.name%>"/>
    <%=if_has_error(@errors, :name)%>
  </p>

  <p>
    <select name="province_id">
      <option value="330000">浙江省</option>
    </select>
    <select name="city_id">
      <option value="330100">杭州市</option>
    </select>
    <select name="zone_id">
      <option value=""></option>
      <%CityZone.hzZones.each do |z|%>
      <option value="<%=z.areaID%>" <%=if_selected(@obj.zone_id, z.areaID)%>><%=z.area%></option>
      <%end%>
    </select>
  </p>

  <p>
    简介：<textarea name="info" rows="5" cols="50"><%=@obj.info%></textarea>
  </p>
  <p>
    邮编：<input type="text" name="poster" value="<%=@obj.poster%>"/>
  </p>
  <p>
    联系人：<input type="text" name="contact" value="<%=@obj.contact%>"/>
  </p>
  <p>
    联系方式：<input type="text" name="contact_phone" value="<%=@obj.contact_phone%>"/>
  </p>
  <p>
    结佣账户：<input type="text" name="account" value="<%=@obj.account%>"/>
  </p>
  <p>
    结佣银行：<input type="text" name="bank" value="<%=@obj.bank%>"/>
  </p>
  <p>
    结佣卡号：<input type="text" name="card" value="<%=@obj.card%>"/>
  </p>


  <%= token_tag %>
  <input type="submit" value="提交" />
</form>

<script type="text/javascript">
function check_form(form){
    var msg;
    var name = form_field_value(form, 'name');
    if((msg = form_check_string(name))){alert('名称' + msg);return false;}
    var zone_id = form_field_value(form, 'zone_id');
    if((msg = form_check(zone_id))){alert('行政区' + msg);return false;}
    var info = form_field_value(form, 'info');
    if((msg = form_check_string(info, 1000))){alert('简介' + msg);return false;}
    var contact = form_field_value(form, 'contact');
    if((msg = form_check_string(contact, 100))){alert('联系人' + msg);return false;}
    var contact_phone = form_field_value(form, 'contact_phone');
    if((msg = form_check_string(contact_phone, 30))){alert('联系方式' + msg);return false;}
    return true;
}
</script>